<mat-checkbox
#showDetail
[value]=ckValue
[checked] = isChecked
(change)="onCheckBoxChange($event)"

>Show details</mat-checkbox>
<div *ngIf="showDetail.checked">Some details ...</div>

<mat-radio-group value="0" aria-label="Select an option">
  <mat-radio-button value="1">Male</mat-radio-button>
  <mat-radio-button value="0">Female</mat-radio-button>
</mat-radio-group>

<h4>Basic mat-select</h4>
<mat-form-field appearance="fill">
  <mat-label>Favorite food</mat-label>
  <mat-select [(ngModel)]="food">
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Username</mat-label>
    <input (change)="onInputChange($event,username.errors)"
    ngModel
    #username="ngModel"
    name="username"
    type="text" matInput placeholder="Username" required>
    <mat-icon matPrefix class="mat-18">person</mat-icon>
    <span matSuffix>@domain.com</span>
    <mat-error *ngIf="username.invalid && username.errors?.required">
      The username field is required</mat-error>
  </mat-form-field>
</form>
